@import "tailwindcss";
@plugin "daisyui";
:root {
  --background: #be9159;
  --backgroundSec: #e7ddc9;
  --primary: #062b22;
  --hoverColor: #bdae9a;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-hoverColor: var(--hoverColor);
  --color-backgroundSec: var(--backgroundSec);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
